//abstract
@import 'abstracts/_colors';

//base
@import 'base/_fonts';
@import 'base/_my-reset';
@import 'base/_normalize';

//components
@import 'components/_content-page';
@import 'components/_form';
@import 'components/_logo';
@import 'components/_main-menu';
@import 'components/_text-align';

//layout
@import 'layout/_container';
@import 'layout/_footer';
@import 'layout/_header';

//pages
@import 'pages/_about';
@import 'pages/_contact';
@import 'pages/_index';