.footer{
    text-align: center;
    position: relative;
    color: $color-footer;
    overflow: hidden;

    &_list{
        margin: 0 auto;
        float: left;
        list-style-type: none;
    }
}