.footer{
    padding-top: 80px;
    text-align: center;
    position: relative;
    color: $color-footer;
    overflow: hidden;
    margin: 0 auto;

    &__list-links{
        margin-left: -34px;
    }

    &__column{
        padding-top: 15px;
    }

    &_list{
        position: relative;
        display: inline;
        list-style-type: none;
        padding-right: 2px;
    }
}