.content-page{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content-page p{
    color: #3a3a3a;
    line-height: 22px;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}