.form{
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px 40px 15px;

    &__group{
        margin-bottom: 15px;
    }
    &__field{
        width: 100%;
        border: 3px solid $color-item;
        padding: 10px 5px;
    }
    &__label{
        color: #000;
    }
    &__label::after{
        content: ':';
        font-size: 22px;
    }
    &__issue{
        color: #f00;
    }
    &__success{
        color: #00a91e;
    }
    &__btn{
        border: 3px solid #000;
        background-color: #000;
        color: #fff;
        padding: 6px 12px;
        cursor: pointer;
        display: block;
        margin-top: 25px;
        margin-left: 43%;
        font-weight: lighter;
        letter-spacing: 3px;
        @media(min-width: $breakpoint-sm){
            margin-left: 44%;
        }
        @media(min-width: $breakpoint-md){
            margin-left: 45%;
        }
        @media(min-width: $breakpoint-lg){
            margin-left: 45%;
        }
    }
}
// ajustar __btn