.form{
    background-color: #efecec;
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 15px 40px 15px;
    box-shadow: 0 0 5px #989898;

    &__group{
        margin-bottom: 15px;
    }
    &__field{
        width: 50%;
        border: 3px solid #000;
        padding: 10px 5px;
    }
    &__label{
        color: #000;
    }
    &__btn{
        border: 3px solid #000;
        background-color: #000;
        color: #fff;
        padding: 6px 12px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        font-weight: lighter;
        letter-spacing: 3px;
    }
}