.main-menu__btn{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: #fff;
    background-image: url('../img/mainmenu-btn.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;

}

.main-menu__btn--close{
    background-position: -48px 7px;
}

.item-services{
    margin-left: 15px;
    overflow: auto;
    .item_list{
        margin-right: 10px;
        margin-bottom: 5px;
        @media(min-width: $breakpoint-md){
            float: left;
            width: 33.333%;
        }
    }
    .item_image .item_title{
        padding-left: 17px;
        padding-right: 17px;
        @media(min-width: $breakpoint-lg){
            width: 282.33px;
            height: 282.33px;    
            clear: auto;
        }
        @media(min-width: $breakpoint-md){
            width: 254.98px;
            height: 254.98px;
            clear: auto;
        }
        @media(min-width: $breakpoint-sm){
            width: 170.98px;
            height: 170.98px;
            clear: auto;
        }
        overflow: auto;
    }
}
.main-menu__list{
    padding: 0;
    float: left;

}

.main-menu__anchor{
    text-decoration: none;
}

.main-menu__item{
    font-size: 10px;
    text-transform: uppercase;
    list-style: none;
    list-style-type: none;
}