#necro{
    font-size: 10px;
    margin-left: 12px;
    margin-right: 30px;
    margin-top: -1px;
}

.item-services{
    overflow: auto;
    display: grid;
}

.item{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    margin-right: 30px;
    margin-left: -10px;
    margin-bottom: 20px;
    &_image{
        // margin-right: -55px;
        // @media(min-width: $breakpoint-sm) {
        //     width: 300px;
        //     height: 300px;
        //     padding-right: 20px;
        //     padding-left: -20px;
        // }
        @media(min-width: $breakpoint-md) {
            width: 400px;  
            height: 400px;
            // padding-right: 15px;
            // width: 282.33px;  
            // height: 282.33px;
        }
        @media(max-width: $breakpoint-sm) {
            width: 300px;  
            height: 300px;
        }
    }

    &_list{
        // margin-right: 30px;
        // margin-left: -30px;
        @media(min-width: $breakpoint-sm){
            margin: 0 auto;
            float: left;
            width: 100%;
        }
        @media(min-width: $breakpoint-md){
            margin: 0 auto;
            float: left;
            width: 50%;
        }
        @media(min-width: $breakpoint-lg){
            margin: 0 auto;
            float: left;
            width: 33.333%;
            padding-right: 12px;
        }
    }
    &_title{
        margin-top: 10px;
        margin-left: 12px;
        font-size: 12px;
        // padding: 0;
    }
}